<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appid %><br>
    <%= f.number_field :appid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :playtime_forever %><br>
    <%= f.number_field :playtime_forever %>
  </div>
  <div class="field">
    <%= f.label :icon_url %><br>
    <%= f.text_field :icon_url %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.text_field :logo_url %>
  </div>
  <div class="field">
    <%= f.label :has_community_visible_stats %><br>
    <%= f.check_box :has_community_visible_stats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
