<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Appid</th>
      <th>Name</th>
      <th>Playtime forever</th>
      <th>Icon url</th>
      <th>Logo url</th>
      <th>Has community visible stats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.appid %></td>
        <td><%= game.name %></td>
        <td><%= game.playtime_forever %></td>
        <td><%= game.icon_url %></td>
        <td><%= game.logo_url %></td>
        <td><%= game.has_community_visible_stats %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_user_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_user_game_path(current_user) %>
