.title
  %h1= "#{@user.steam_name}'s games"

- if @games.present?
  .row
    .col-md-9
    .col-md-3
      %form{:role => "search"}
        .form-group
          %input#search.form-control{:placeholder => "Search", :type => "text"}/

.games-list
  - if @games.present?
    %ul.row
      - @games['games'].each do |game|
        %li.game.col-lg-2.col-md-2.col-sm-3.col-xs-4{ data: { name: numeric?(game['name']) ?  "#{game['name']}_A" : game['name'].upcase } }
          //
          //%li= game['playtime_forever']
          //%li= image_tag "http://media.steampowered.com/steamcommunity/public/images/apps/#{game['appid']}/#{game['img_icon_url']}.jpg"
          - image_url = game['img_logo_url'].present? ?  "http://media.steampowered.com/steamcommunity/public/images/apps/#{game['appid']}/#{game['img_logo_url']}.jpg" : "empty.jpg"
          = link_to(image_tag(image_url, title: game['name'], data: {toggle: "tooltip", placement: "bottom" }, class: 'logo'), "steam://run/#{game['appid']}")
    %br/
  - else
    .row
      .col-md-12 Sorry, we couldn't retrieve any data. Maybe you entered a wrong steam username?
